html {
    background-color: #4a4a4a;
    font-family: "Roboto", "Arial", sans-serif;
    color: #fff;
}

.section {
    background-color: #0005;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 2px;
    border: #0003 3px solid;
    margin: 5px;
}

.section h1 {
    font-size: 25px;
    margin: 8px;
}

.section p {
    padding-left: 2%;
}

#main {
    background-color: #0003;
    border-radius: 0 0 5px 5px;
    padding: 20px;
    margin: 0 15px;
    border: #0003 3px solid;
    border-top: none;
    padding-top: 40px;
}

body {
    margin: 0;
}

p {
    margin: 0;
}

#topbar {
    height: 30px;
    background: #a769b1;
    border-bottom: #59385e 2px solid;
    position: fixed;
    width: 100%;
    display: flex;
    user-select: none;
    z-index: 2;
}

#topbar div {
    padding-left: 5px;
    padding-right: 5px;
    background: #704676;
    border-right: #59385e solid 3px;
    width: fit-content;
    height: 100%;
}

#topbar div:hover {
    background: #59385e;
    transition: 0.2s;
}

#topbar * {
    font-size: 18px;
    color: white;
    line-height: 30px;
}

a {
    text-decoration: none;
    color: #99F; /*#8efffa*/
}

#main div p {
    margin: 9px;
    font-size: 15px;
}

#gallery-title {
	margin-top: 5px;
	margin-bottom: 0px;
	text-align: center;
	font-size: 25px;
}

#gallery-main {
	height: 400px;
	background-color: #0000007d;
	width: 600px;
	transform: translateX(-50%);
	margin-left: 50%;
	margin-top: 5px;
	border-radius: 9px;
	border: #821bbc6e 2px solid;
    user-select: none;
}

#gallery-main * {
    text-align: center;
}

#gallery-bottom {
    background-color: #000000d0;
    width: 100%;
    height: 6.5%;
    padding-top: 0px;
    margin-top: 0px;
    bottom: 0;
    position: absolute;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    border-radius: 0 0 8px 8px;
}

#gallery-bottom * {
    border: #821bbc45 3px solid;
}

#gallery-left {
    border-radius: 0 0 0 8px;
    order: 1;
}

#gallery-right {
    border-radius: 0 0 8px 0;
    order: 3;
}

#gallery-left, #gallery-right {
    cursor: pointer;
    transition: 0.2s;
    flex: 0 0 30px;
}
  
#gallery-left:hover, #gallery-right:hover {
    background-color: #3b263b;
}

#gallery-page {
    margin: 0px !important;
    order: 2;
    flex: 1 0 0;
    padding-top: 2px;
    border-style: solid none;
}

.gallery-panel {
    height: 93.5%;
    display: none;
}

.gallery-panel img {
    height: 100%;
}

ul, ol {
    margin: 0;
}

#navigator {
    background-color: #868686;
    width: 90%;
    height: 34px;
    transform: translateX(-50%);
    margin-left: 50%;
    border: #666666 2px solid;
    border-radius: 2px;
    display: flex;
}

#navigator * {
    flex: 0 0 auto;
}

#navigator-mid {
    flex: 1 0 0;
}

.new {
    color: #F99;
}

#game {
    width: 95%;
    height: 100%;
    background-color: #a769b1;
    border-radius: 5px;
    border: #59385e 2px solid;
}

#board-wrapper {
    border: #222 solid 2px;
    width: 250px;
    height: 500px;
    border-radius: 6px;
}

#board {
    background-color: #333333;
    border-radius: 3px;
    margin: auto;
}

#game-board {
    border-radius: 5px;
    height: 100%;
    width: 100%;
}

#div-text {
    font-size: 30px !important;
    user-select: none;
    text-align: center;
    margin: auto !important;
    height: 100%;
    line-height: 470px;
}

.game-mino {
    width: 75%;
    height: 75%;
    margin: auto;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}

#game-wrapper {
    display: flex;
    justify-content: center;
}

#left-wrapper,
#right-wrapper {
    margin: 0 10px;
    width: 90px;
}

.piece-holder {
    border-radius: 5px;
    background-color: #333333;
    border: #222 solid 2px;
    width: 76px;
    height: 76px;
    padding: 5px;
}

#next-col {
    background-color: #333;
    border: 2px #222 solid;
    margin-top: 10px;
    border-radius: 5px;
    height: 378.5px;
}

.next-display {
    margin: auto;
    height: 76px;
    padding: 5px 0px;
    width: 76px;
}

.game-row {
    display: flex;
}

.div-row {
    display: flex;
}

#score-wrapper {
  height: 40px;
  width: 400px;
  margin: 6px auto;
  display: flex;
}

#score {
    background-color: #333;
    border: 2px #222 solid;
    border-radius: 5px;
    width: 80%;
    text-align: center;
    font-weight: bold;
    padding: 3px 0;
    font-size: 25px;
}

#level {
    background-color: #333;
    border: 2px #222 solid;
    border-radius: 5px;
    width: 20%;
    text-align: center;
    padding: 7px 0px;
    font-size: 20px;
    font-weight: bold;
}

#next-holder {
    border-radius: 5px;
    background-color: #333333;
    border: #222 solid 2px;
    width: 86px;
    height: auto;
}

#pause,
#game-over,
#main-menu {
    display: none;
    border-radius: 5px;
    background-color: #33333380;
    position: absolute;
    width: 250px;
    z-index: 1;
    height: 500px;
}

#pause,
#main-menu {
    background-color: #333333;
}

#main-menu {
    display: initial;
}

#div-mid-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    font-weight: bold;
    font-size: 22px;
    width: 200px;
    text-align: center;
    user-select: none;
}
#div-button {
    background-color: #333;
    text-align: center;
    width: 90px;
    margin: auto;
    border: #222 2px solid;
    border-radius: 5px;
    cursor: pointer;
}
